footer{
    height: 8%;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    color: var(--cinza);
    margin-top: 8%;
}

footer img{
    width: 20px;
    margin-left: 2px;
}

footer a{
    text-decoration: none;
    color: var(--cinza);
}
