*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.cabecalho{
  background-color: var(--roxo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 32px;
}
.cabecalho h1{
  color: var(--white);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.navegacao{
  display: flex;
  gap: 20px;
}
.navegacao li{
  list-style: none;
}
.navegacao li a{
  color: var(--white);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;

}
.buscar{
  width: 20%;
  position: relative;
}
.buscar img{
  position: absolute;
  top: 6px;
  left: 0.5rem;
  width: 20px;
}
input[type=search]{
  border-radius: 10px;
  height: 32px;
  border: none;
  width: 100%;
  padding-left: 2rem;
  
}
input[type=search]:focus{
  outline: 2px solid var(--purple);
}

