@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.boxLogin {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    margin-top: 8%;

}

form {
    background-color: var(--roxo);
    width: 600px;
    height: 400px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    color: var(--white);
}

.link {
    display: flex;
    padding: 15px;
    justify-content: center;
    color: var(--white);


}

input {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    border: 0;
}

.title {
    padding: 20px;
}

.title h1, h2 {
    padding: 2%;
}

a {
    color: var(--white);
}

.inputLogin input{
    background-color: var(--purple);
}
.inputPassaword input{
    background-color: var(--purple);
}