@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #EFEFEF;
    font-family: inter;
    
}